html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title Tom Yeh | Assistant Professor | University of Coloardo at Boulder
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='booom/css/main.css', rel='stylesheet')    
    link(href='booom/css/custom.css', rel='stylesheet')
    
  body#home

    section
      .container        
        h1 Tom Yeh    
        h5 Assistant Professor
        h5 Department of Computer Science
        h5 University of Colorado Boulder
        div Boulder, CO 80309-0430

    section#blog
      .container        
        h1 Education
        for item in contents['education.json'].metadata
          div.row
            div.col-md-2= item.start + '-' + item.end           
            div.col-md-3= item.name
            div.col-md-4= item.org

    section#blog
      .container        
        h1 PhD Stduents
        for item in contents['phd.json'].metadata
          div.row
            div.col-md-1= item.start
            div.col-md-3= item.name
            div.col-md-4= item.department
            div.col-md-2= item.status

    section#blog
      .container        
        h1 Awards
        for item in contents['awards.json'].metadata
          div.row
            div.col-md-1= item.year
            div.col-md-2= item.source
            div.col-md-4= item.title
            div.col-md-5= item.description

    section#blog
      .container        
        h1 Publications
        for pub in contents['publications.json'].metadata
          div.row
            div.col-md-1= pub.year              
            div.col-md-2= pub.venue
              br
              div.label.label-default= pub.type
            div.col-md-9  
              h6
                if pub.url
                  a(href=pub.url)= pub.title
                else
                  = pub.title
              if pub.award
              div.label.label-warning= pub.award
              div= pub.authors.join(',')  
              br

    section#blog
      .container        
        h1 Grants
        for grant in contents['grants.json'].metadata
          div.row
            div.col-md-2= grant.start + '-' + grant.end
            div.col-md-1= grant.role
            div.col-md-1= grant.source
            div.col-md-2= grant.program
            div.col-md-6= grant.title  

    section#blog
      .container        
        h1 Professional Services
        for service in contents['service.json'].metadata
          div.row
            div.col-md-1= service.year
            div.col-md-2= service.role
            div.col-md-3= service.organization            
            div.col-md-4= service.area    
              if service.count
                = ' (' + service.count + ' times)'



    section#blog
      .container        
        h1 Teaching
        for item in contents['teaching.json'].metadata
          div.row
            div.col-md-1= item.year
            div.col-md-2= item.type
              br
              div.label.label-default= item.student            
            div.col-md-2= item.role
            div.col-md-7= item.title
            

    section#blog
      .container        
        h1 Press
        for item in contents['press.json'].metadata
          div.row
            div.col-md-1= item.date
            div.col-md-3= item.source
            
            div.col-md-8
              if item.url
                a(href=item.url)= item.title  
              else
                = item.title
              div.label.label-default= item.type
              div.label.label-warning= item.country

